@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir-Regular.ttf") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: Casablanca;
    src: url("../fonts/Casablanca.Font.ttf") format("ttf");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazir;
}

body {
    background-color: #1e1e1e
}

.overflow {
    flex-wrap: nowrap;
    overflow: hidden;
    height: 30rem;
}

.size {
    width: 230px;
    height: 368px;
    border-radius: 20px;
}

.a-red {
    color: #ff2929;
    text-decoration: none;
    margin-left: 2rem;
}

.a-red:hover {
    color: white;
}

.bg {
    background-color: #1e1e1e;
}

.div-hr1 {
    position: absolute;
    right: 3rem;
    width: 130px;
    height: 1px;
    background-color: #ffffff;  
    margin-top: 2rem;
}

.div-hr2 {
    position: absolute;
    right: 2rem;
    width: 160px;
    height: 1px;
    background-color: #ffffff;
    margin-top: 2.5rem;
}